Repository dotnet/dotnet-buildtools-prereqs-docker, changes with the owners that CODEOWNERS names for each.
All owners: @dotnet/dotnet-docker-reviewers, @dotnet/source-build, @dotnet/runtime-infrastructure, @dotnet/aspnet-build, @dotnet/dnceng

CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

### General infra ###
# '*' is excluded from the CODEOWNERS validation that runs on PRs
* @dotnet/dotnet-docker-reviewers

### Dockerfiles ###

# almalinux
src/almalinux/**/source-build/ @dotnet/source-build @dotnet/dotnet-docker-reviewers

# alpine
src/alpine/**/amd64/ @dotnet/source-build @dotnet/dotnet-docker-reviewers

# azurelinux
src/azurelinux/**/android/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/azurelinux/**/build/ @dotnet/aspnet-build @dotnet/dotnet-docker-reviewers
src/azurelinux/**/docker-testrunner/ @dotnet/dotnet-docker-reviewers
src/azurelinux/**/fpm/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/azurelinux/**/opt/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers

# cbl-mariner
src/cbl-mariner/**/android/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/cbl-mariner/**/fpm/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/cbl-mariner/**/opt/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/cbl-mariner/2.0/amd64/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers

# centos
src/centos-stream/**/amd64/ @dotnet/source-build @dotnet/dotnet-docker-reviewers

# debian
src/debian/11/amd64/ @dotnet/source-build @dotnet/dotnet-docker-reviewers
src/debian/12/gcc14/amd64/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers

# fedora
src/fedora/**/amd64/ @dotnet/source-build @dotnet/dotnet-docker-reviewers

# ubuntu
src/ubuntu/**/debpkg/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/ubuntu/22.04/mlnet/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/ubuntu/22.04/opt/arm64v8/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/ubuntu/common/coredeps/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/ubuntu/20.04/amd64/ @dotnet/source-build @dotnet/dotnet-docker-reviewers
src/ubuntu/22.04/amd64/ @dotnet/source-build @dotnet/dotnet-docker-reviewers
src/ubuntu/24.04/Dockerfile @dotnet/source-build @dotnet/dotnet-docker-reviewers

# common paths
# CODEOWNERS selects the last match as the owner so we list these paths last
# Otherwise these paths will be owned by a different team(s) than the ones listed below
src/**/helix/ @dotnet/dnceng @dotnet/dotnet-docker-reviewers
src/**/cross*/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/**/webassembly*/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers

[net8.0] [android] Bumped NDK version to 27 (#1356)
  src/azurelinux/3.0/net8.0/android/amd64/Dockerfile
Owners: @dotnet/runtime-infrastructure, @dotnet/dotnet-docker-reviewers

Add Ubuntu 25.04 image
  src/ubuntu/25.04/helix/Dockerfile
  src/ubuntu/manifest.json
Owners: @dotnet/dnceng, @dotnet/dotnet-docker-reviewers

Update libmsic to 2.4.8
  src/debian/13/helix/Dockerfile
Owners: @dotnet/dnceng, @dotnet/dotnet-docker-reviewers

Simplify argument use
  src/ubuntu/25.04/helix/Dockerfile
  src/ubuntu/manifest.json
Owners: @dotnet/dnceng, @dotnet/dotnet-docker-reviewers

Update per feedback
  src/debian/13/helix/Dockerfile
Owners: @dotnet/dnceng, @dotnet/dotnet-docker-reviewers

Update libmsquic to 2.4.8 (#1387)
  src/debian/13/helix/Dockerfile
Owners: @dotnet/dnceng, @dotnet/dotnet-docker-reviewers

Add Ubuntu 25.04 image (#1386)
  src/ubuntu/25.04/helix/Dockerfile
  src/ubuntu/manifest.json
Owners: @dotnet/dnceng, @dotnet/dotnet-docker-reviewers

Enable SHA1 in Fedora 41
  src/fedora/41/helix/amd64/Dockerfile
Owners: @dotnet/dnceng, @dotnet/dotnet-docker-reviewers

Locate C++ toolchain path dynamically
  src/azurelinux/3.0/net10.0/cross/amd64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/amd64-sanitizer/Dockerfile
  src/azurelinux/3.0/net10.0/cross/amd64/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm64/Dockerfile
  src/azurelinux/3.0/net10.0/cross/loongarch64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/loongarch64/Dockerfile
  src/azurelinux/3.0/net10.0/cross/riscv64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/riscv64/Dockerfile
  src/azurelinux/3.0/net8.0/cross/riscv64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64-sanitizer/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm64-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/riscv64-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/riscv64/Dockerfile
Owners: @dotnet/runtime-infrastructure, @dotnet/dotnet-docker-reviewers

Update common Docker engineering infrastructure with latest
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/variables/docker-images.yml
Owners: @dotnet/dotnet-docker-reviewers

[main] Update common Docker engineering infrastructure with latest (#1389)
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/variables/docker-images.yml
Owners: @dotnet/dotnet-docker-reviewers

Refactor to use PowerShell
  src/nanoserver/1809/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2019/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2022/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2025/helix/amd64/Dockerfile
Owners: @dotnet/dnceng, @dotnet/dotnet-docker-reviewers

Enable SHA1 in Fedora 41 Helix image (#1391)
  src/fedora/41/helix/amd64/Dockerfile
Owners: @dotnet/dnceng, @dotnet/dotnet-docker-reviewers

Account for thrid dir for gnu
  src/azurelinux/3.0/net10.0/cross/amd64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/amd64-sanitizer/Dockerfile
  src/azurelinux/3.0/net10.0/cross/amd64/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm64/Dockerfile
  src/azurelinux/3.0/net10.0/cross/loongarch64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/loongarch64/Dockerfile
  src/azurelinux/3.0/net10.0/cross/riscv64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/riscv64/Dockerfile
  src/azurelinux/3.0/net8.0/cross/riscv64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64-sanitizer/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm64-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/riscv64-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/riscv64/Dockerfile
Owners: @dotnet/runtime-infrastructure, @dotnet/dotnet-docker-reviewers

Use pip from virtual environment
  src/nanoserver/1809/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2019/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2022/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2025/helix/amd64/Dockerfile
Owners: @dotnet/dnceng, @dotnet/dotnet-docker-reviewers

Locate C++ toolchain path dynamically (#1390)
  src/azurelinux/3.0/net10.0/cross/amd64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/amd64-sanitizer/Dockerfile
  src/azurelinux/3.0/net10.0/cross/amd64/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/arm64/Dockerfile
  src/azurelinux/3.0/net10.0/cross/loongarch64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/loongarch64/Dockerfile
  src/azurelinux/3.0/net10.0/cross/riscv64-musl/Dockerfile
  src/azurelinux/3.0/net10.0/cross/riscv64/Dockerfile
  src/azurelinux/3.0/net8.0/cross/riscv64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64-sanitizer/Dockerfile
  src/azurelinux/3.0/net9.0/cross/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm64-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/arm64/Dockerfile
  src/azurelinux/3.0/net9.0/cross/riscv64-musl/Dockerfile
  src/azurelinux/3.0/net9.0/cross/riscv64/Dockerfile
Owners: @dotnet/runtime-infrastructure, @dotnet/dotnet-docker-reviewers

Set virt env scripts dir on PATH
  src/nanoserver/1809/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2019/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2022/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2025/helix/amd64/Dockerfile
Owners: @dotnet/dnceng, @dotnet/dotnet-docker-reviewers

Move MSQuic installation placement for Fedora 41 Helix
  src/fedora/41/helix/amd64/Dockerfile
Owners: @dotnet/dnceng, @dotnet/dotnet-docker-reviewers

Reorder paths
  src/nanoserver/1809/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2019/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2022/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2025/helix/amd64/Dockerfile
Owners: @dotnet/dnceng, @dotnet/dotnet-docker-reviewers

Update Python version on Windows (#1382)
  src/nanoserver/1809/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2019/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2022/helix/amd64/Dockerfile
  src/windowsservercore/ltsc2025/helix/amd64/Dockerfile
Owners: @dotnet/dnceng, @dotnet/dotnet-docker-reviewers

Move MSQuic installation placement for Fedora 41 Helix (#1395)
  src/fedora/41/helix/amd64/Dockerfile
Owners: @dotnet/dnceng, @dotnet/dotnet-docker-reviewers

Clean up net10.0 opt image
  src/azurelinux/3.0/net10.0/opt/Dockerfile
Owners: @dotnet/runtime-infrastructure, @dotnet/dotnet-docker-reviewers

Copy llvm from custom install prefix
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net10.0/crossdeps-llvm/amd64/Dockerfile
  src/azurelinux/3.0/net10.0/opt/Dockerfile
Owners: @dotnet/runtime-infrastructure, @dotnet/dotnet-docker-reviewers

Same for other images
  src/azurelinux/3.0/net8.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-llvm/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-llvm/amd64/Dockerfile
  src/cbl-mariner/2.0/crossdeps-builder/amd64/Dockerfile
  src/cbl-mariner/2.0/crossdeps-llvm/amd64/Dockerfile
Owners: @dotnet/runtime-infrastructure, @dotnet/dotnet-docker-reviewers

Update common Docker engineering infrastructure with latest
  eng/common/Install-DotNetSdk.ps1
Owners: @dotnet/dotnet-docker-reviewers

Add llvm install to path in builder image
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-builder/amd64/Dockerfile
Owners: @dotnet/runtime-infrastructure, @dotnet/dotnet-docker-reviewers

[main] Update common Docker engineering infrastructure with latest (#1400)
  eng/common/Install-DotNetSdk.ps1
Owners: @dotnet/dotnet-docker-reviewers

Also mariner 2.0
  src/cbl-mariner/2.0/crossdeps-builder/amd64/Dockerfile
Owners: @dotnet/runtime-infrastructure, @dotnet/dotnet-docker-reviewers

Clean up net10.0 opt image (#1399)
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net10.0/crossdeps-llvm/amd64/Dockerfile
  src/azurelinux/3.0/net10.0/opt/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net8.0/crossdeps-llvm/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net9.0/crossdeps-llvm/amd64/Dockerfile
  src/cbl-mariner/2.0/crossdeps-builder/amd64/Dockerfile
  src/cbl-mariner/2.0/crossdeps-llvm/amd64/Dockerfile
Owners: @dotnet/runtime-infrastructure, @dotnet/dotnet-docker-reviewers

Update common Docker engineering infrastructure with latest
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/stages/build-and-test.yml
  eng/common/templates/stages/dotnet/build-and-test.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/publish.yml
  eng/common/templates/stages/publish.yml
Owners: @dotnet/dotnet-docker-reviewers

[main] Update common Docker engineering infrastructure with latest (#1401)
  eng/common/templates/1es-official.yml
  eng/common/templates/1es-unofficial.yml
  eng/common/templates/stages/build-and-test.yml
  eng/common/templates/stages/dotnet/build-and-test.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/publish.yml
  eng/common/templates/stages/publish.yml
Owners: @dotnet/dotnet-docker-reviewers

Update common Docker engineering infrastructure with latest
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/jobs/cg-build-projects.yml
Owners: @dotnet/dotnet-docker-reviewers

[main] Update common Docker engineering infrastructure with latest (#1403)
  eng/common/Install-DotNetSdk.ps1
  eng/common/templates/jobs/cg-build-projects.yml
Owners: @dotnet/dotnet-docker-reviewers

bump WASI-SDK to v25.0 (#1299)
  src/azurelinux/3.0/net10.0/webassembly/amd64/Dockerfile
Owners: @dotnet/runtime-infrastructure, @dotnet/dotnet-docker-reviewers

Update common Docker engineering infrastructure with latest
  eng/common/templates/variables/docker-images.yml
Owners: @dotnet/dotnet-docker-reviewers

[main] Update common Docker engineering infrastructure with latest (#1404)
  eng/common/templates/variables/docker-images.yml
Owners: @dotnet/dotnet-docker-reviewers

Update llvm to 20.1.3
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net10.0/opt/Dockerfile
Owners: @dotnet/runtime-infrastructure, @dotnet/dotnet-docker-reviewers

Update llvm to 20.1.3 (#1405)
  src/azurelinux/3.0/net10.0/crossdeps-builder/amd64/Dockerfile
  src/azurelinux/3.0/net10.0/opt/Dockerfile
Owners: @dotnet/runtime-infrastructure, @dotnet/dotnet-docker-reviewers

Add Fedora 42 helix Dockerfile
  src/fedora/42/helix/amd64/Dockerfile
  src/fedora/manifest.json
Owners: @dotnet/dnceng, @dotnet/dotnet-docker-reviewers

Remove line
  src/fedora/manifest.json
Owners: @dotnet/dotnet-docker-reviewers
